{% extends 'website/base.html' %}
{% load staticfiles %}
{% block body_content %}
    {#    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>#}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">#}
    <div class="container">
        <form role="form" method="post" action="{% url 'article:edit_action' %}" id="article-form">
            {% csrf_token %}
            <input type="hidden" name="article_id" value="{{ article.id | default:'0' }}"/>
            <div class="row">
                <div class="form-group">
                    <input title="title" type="text" name="title" class="form-control input-lg"
                           value="{{ article.title|default_if_none:'' }}" id="article-title"
                           placeholder="文章标题">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="dropdown">
                        <input type="hidden" name="editor" value="{{ editor }}">
                        <label for="select-editor">编辑器：</label>
                        <a class="btn btn-default dropdown-toggle" href="#" id="select-editor"
                           data-toggle="dropdown" style="margin-bottom: 10px">
                            {{ editor }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="select-editor">
                            <li role="presentation">
                                <a role="menuitem"
                                   href="{% url 'article:article_edit_page' article_id %}?editor=Markdown"
                                   tabindex="-1">Markdown</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem"
                                   href="{% url 'article:article_edit_page' article_id %}?editor=Summernote"
                                   tabindex="-1">Summernote</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <input type="hidden" id="tags-value" value="{{ tags }}">
                    <input type="hidden" id="article-tags" value="{{ article_tags }}">
                    <input type="text" id="tag-input" class="form-control input-md" title="tags"
                           placeholder="请选择标签" name="tags" data-role="tagsinput" value="1">
                </div>
            </div>
            <div class="row">
                {% if editor.name == 'Summernote' %}
                    <textarea style="display: none" name="content" title="content" id="content-area"></textarea>
                    <div class="form-group"
                         id="article-editor">{{ article.content|safe|linebreaks|default_if_none:'' }}</div>
                {% elif editor.name == 'Markdown' %}
                    <div class="form-group" id="article-editor">
                    <textarea title="content" name="content" class="form-control" style="resize: none;"
                              rows="20" placeholder="在这里编辑文章内容"
                              id="article-content">{{ article.content|default_if_none:'' }}</textarea>
                    </div>
                {% endif %}
            </div>
            <div class="row submit-btns">
                <input class="form-control submit-stat" value="0" title="submit-stat" type="hidden"
                       name="submit_stat">
                <div class="form-group col-lg-3">
                    <button class="btn btn-success btn-lg btn-block" type="button"
                            id="submit-btn">提交</button>
                </div>
                <div class="form-group col-lg-push-6 col-lg-3">
                    <button class="btn btn-info btn-lg btn-block" type="button"
                            id="draft-btn">存草稿</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var editor_area = $('#article-editor');
        var editor = '{{ editor.name }}';

        $('.dropdown-toggle').dropdown();

        if (editor == 'Summernote') {
            editor_area.summernote({
                placeholder: '在这里编辑文章内容',
                height: 500,
                fontNames: ['Arial', 'Consolas', 'Comic Sans MS', 'Courier New', 'Microsoft YaHei'],
                lang: 'zh-CN',
                enterHtml: '<p></p>' // '<br>', '<p>&nbsp;</p>', '<p><br></p>', '<div><br></div>'
            });
        }

        $('.submit-btns button').on('click', function () {
            var articleTitle = $('#article-title').val(),
                    articleContent = $('#article-content').val(),
                    articleStat = $('.submit-stat');
            if ($.trim(articleTitle) == '') {
                BootstrapDialog.show({
                    type: BootstrapDialog.TYPE_DANGER,
                    title: "错误",
                    message: "文章标题不能为空！",
                    buttons: [{
                        label: '关闭',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }]
                });
                return;
            }
            else {
                if (editor == 'Summernote') {
                    $('#content-area').text(editor_area.summernote('code'));
                }
                if ($(this).attr('id') == 'submit-btn') {
                    articleStat.val('1');
                }
                else if ($(this).attr('id') == 'draft-btn') {
                    articleStat.val('0');
                }
                $('#article-form').submit();
            }
        });

        var tag_input = $('#tag-input'),
                tags_value = JSON.parse($('#tags-value').val()),
                article_tags = JSON.parse($('#article-tags').val());

        tag_input.tagsinput({
            maxTags: 8,
            itemValue: 'id',
            itemText: 'name',
            typeahead: {
                displayKey: 'name',
                source: tags_value,
                afterSelect: function () {
                    this.$element[0].value = '';
                },
                showHintOnFocus: true,
                autoSelect: true
            }
        });
        $('.bootstrap-tagsinput').css('display', 'block');
        for (var i=0; i<article_tags.length; i++) {
            tag_input.tagsinput('add', {id: article_tags[i].id, name: article_tags[i].name});
        }
    </script>
{% endblock %}