{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'markdown-js/js/bootstrap-markdown.js' %}"></script>
    <script src="{% static 'dialog/src/js/bootstrap-dialog.js' %}"></script>
    <script src="{% static 'highlight/highlight.pack.js' %}"></script>
    <script src="{% static 'marked/marked.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'markdown-js/css/bootstrap-markdown.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Font-Awesome-3.2.1/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dialog/src/css/bootstrap-dialog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'highlight/styles/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}title{% endblock %}</title>
</head>
<body>
{% include 'website/nav.html' %}
{% block body_content %}
{% endblock %}
</body>
{% block js_block %}
{% endblock %}
</html>