{% extends "website/base.html" %}
{% block title %}
    杜秉轩的个人网站
{% endblock %}
{% block body_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="container">
                    <div class="row">
                        <h2>最新文章</h2>
                    </div>
                    <div class="row">
                        {% for article in articles %}
                            <div>
                                <a href="{% url 'article:article_page' article.id %}">{{ article.title }}</a>
                                <span>{{ article.publish_time }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <h2>热门文章</h2>
                    </div>
                    <div class="row">
                        {% for article in articles %}
                            <div>
                                <a href="{% url 'article:article_page' article.id %}">{{ article.title }}</a>
                                <span>{{ article.publish_time }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">

                </div>
            </div>
        </div>
    </div>
{% endblock %}